/* CASEIN LOGIN         */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #efefef;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
	/*font-family: Arial, "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;*/
}

a, input {
	outline: none;
}

#header {
	background: #efefef url(/casein/images/login/top.png) repeat-x bottom left;
	padding: 80px 0 70px 0;
}

#header h1 a img {
	border: 0;
}

#header h1 a {
	display: block;
	width: 230px;
	height: 33px;
	margin: 0 auto;
}

#content {
	background: #fff url(/casein/images/login/bottom.png) repeat-x bottom left;
	padding: 10px 0;
}

#content label {
	display: block;
	font-size: 12px;
	padding: 0 0 5px 0;
	color: #fff;
}
#content .text {
	width: 318px;
	margin: 0 auto;
	text-align: left;
}

#content .text h3 {
	color: #444;
	font-size: 12px;
	margin: 0 0 5px 0;
	text-align: left;
}

#content .caseinTextField {
	width: 292px;
	padding: 8px 12px 7px 12px;
	margin: 0 0 5px 0;
	border-radius: 50px;
	border: none;
}

#content .submit_remember {
	width: 318px;
	text-align: left;
	margin: 10px auto 0 auto;
	font-size: 11px;
	color: #444;
}

#content .caseinSubmit {
	background: #338018;
	background: -webkit-gradient(linear, left top, left bottom, from(#44ab20), to(#338018));
    background: -moz-linear-gradient(top,  #44ab20,  #338018);
    background: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44ab20', endColorstr='#338018');
	border: medium none;
	color: #fff;
	font-size: 12px;
	padding: 5px 6px 6px 6px;
	cursor: pointer;
	border-radius: 30px;
}

#content .caseinSubmit:hover {
	background: #4ebf26;
}

#content .caseinSubmitBlue {
	background: #5990CE;
    background: -webkit-gradient(linear, left top, left bottom, from(#69c), to(#5990CE));
    background: -moz-linear-gradient(top,  #69c,  #5990CE);
    background: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69c', endColorstr='#5990CE');
	border: medium none;
	color: #fff;
	font-size: 12px;
	padding: 5px 6px 6px 6px;
	cursor: pointer;
	border-radius: 30px;
}

#content .caseinSubmitBlue:hover {
	background: #71b4ff;
}

#content .error {
	height: auto;
	font-size: 11px;
	color: #c30;
	background: #ffeee9;
	padding: 10px;
	border: 1px solid #fed4c7;
	width: 400px;
	text-align: center;
	margin: 0 auto 10px auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
}

#content .notice {
	height: auto;
	font-size: 11px;
	color: green;
	background: #f3f6fd;
	padding: 10px;
	border: 1px solid #9fb2eb;
	width: 400px;
	text-align: center;
	margin: 0 auto 10px auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
}

#recover {
	padding: 30px 0 0 0;
	display: none;
}

#footer {
	padding: 25px;
	font-size: 11px;
	color: #555;
}

#footer a {
	font-size: 11px;
	color: #4d8bb3;
	text-decoration: none;
}

#footer a:hover {
	color: #222;
}

#content fieldset{
	border: none;
	position: relative;
	margin: 0 auto;
	color: #fff;
	background: #369;
    background: -webkit-gradient(linear, left top, left bottom, from(#69c), to(#369));
    background: -moz-linear-gradient(top,  #69c,  #369);
    background: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69c', endColorstr='#369');
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
	width: auto;
	height: 100%;
	padding: 30px 0px 10px 30px;
}

#content legend{
	background: #ddd;
	margin: 0px auto;
	text-align: center;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	padding: 5px 30px 5px 30px;
}
#header td{
	outline: none;
	border: none;
	padding: 0px 10px;
}
#header td.logo_login{
	border-right: 1px solid green;
}

#header .website_name_login{
	text-transform: uppercase;
	font-size: 15px;
	font-variant: normal;
	font-style: normal;
	font-weight: bold;
	border-width: 70%;
	
}
#header .bottom_title{
	padding-top: 10px;
	border-bottom: 2px solid #ddd;
	font-size: 13px;
	text-align: left;
	font-style: italic;
	margin-bottom: 5px;
}