/* CASEIN CUSTOM    	  															*/
/* Use this file for your project-specific Casein CSS */
*{
    outline: none;
}
body, fieldset, legend, header, footer, tr, td, textarea, input, label, select, option, optgroup, a, ul, li
{
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
}
input[type="number"], input[type="text"], select, option
{
    background-color: #f7f7f7;
    color: #111;
}

#content a.link:hover
{
	text-decoration:none;
	padding: 3px;
	background-color:#eee;
	box-shadow: 1px 1px 10px #888888;
}
.box-shadow{
    border: 1px solid rgb(214,214,214);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
    -khtml-box-shadow: 0 0 12px rgba(0,0,0,.1);
}
fieldset
{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
legend
{
    padding: 5px;
    margin-left: 20px;
}
tr, td
{
    line-height: 18px;
}
.boxy {
    padding: 10px;
    text-align: center;
    line-height: 400%%;
    background-color: #fff;
    border: 5px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    /* to prevent word wrapping */
    white-space: nowrap;
    overflow: hidden;
}
.search_basic_form
{
    text-align: right;
    padding-bottom: 20px; 
    display: block;
    z-index: 0;
}
.tfcontenerfull
{
    width: 100%;
}
.pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default; }
.pagination a, .pagination span {
    padding: 0.2em 0.3em; }
.pagination .disabled {
    color: #aaaaaa; }
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a {
    text-decoration: none;
    color: black; }
.pagination a:hover, .pagination a:focus {
    text-decoration: underline; }

.center p
{
    font-size: x-small;
}
.center th
{
    border: none;
    background: #cccccc;
    text-wrap: none;
    max-width: 300px;
    padding: 0px;
}
/*---------------------------------*/
/*menubar style*/
/*---------------------------------*/
ul#menubar,ul#menubar ul{
    margin-bottom:-10px;
    list-style:none;
    padding:0;
    background-color:#C0C0C0;
    background-image:url("../images/mainbk.png");
    background-repeat:repeat;
    border-width:0px;
    border-style:solid;
    border-color:#999999;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
ul#menubar ul{
    display:none;
    position:absolute;
    left:0;top:100%;
    -moz-box-shadow:0.7px 0.7px 1px #777777;
    -webkit-box-shadow:0.7px 0.7px 1px #777777;
    box-shadow:0.7px 0.7px 1px #777777;
    background-color:#FFF;
    background-image:none;
    border-width:1px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-style:solid;
    border-color:#d8d9da;
    padding:0 9px 9px;
}
ul#menubar li:hover>*{
    display:block;
}
ul#menubar li{
    position:relative;
    display:block;
    white-space:nowrap;
    font-size:0;
    float:left;
}
ul#menubar li:hover{
    z-index:1;
}
ul#menubar{
    font-size:0;
    z-index:999;
    position:relative;
    display:inline-block;
    zoom:1;
    padding:1px 1px 1px 0;
    *display:inline;
}
* html ul#menubar li a{
    display:inline-block;
}
ul#menubar>li{
    margin:0 0 0 1px;
}
ul#menubar ul>li{
    margin:1px 0 0;
}
ul#menubar a:active, ul#menubar a:focus{
    outline-style:none;
}
ul#menubar a{
    display:block;
    vertical-align:middle;
    text-align:left;
    text-decoration:none;
    color:#262626;
    padding:0;
    background-color:#C0C0C0;
    background-image:url("../images/mainbk.png");
    background-repeat:repeat;
    background-position:0 200px;
    border-width:0px;
    border-style:none;
}

ul#menubar ul li{
    float:none;margin:9px 0 0;
}
ul#menubar ul a{
    text-align:left;
    padding:0;
    background-color:#FFF;
    background-image:none;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#D9D9D9;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    font:13px Arial;
    color:#333333;
    text-decoration:none;
}
ul#menubar li:hover>a,ul#menubar li a.pressed{
    background-color:#C0C0C0;
    border-style:none;
    color:#efefef;
    background-image:url("../images/mainbk.png");
    background-position:0 100px;
    text-decoration:none;
}
ul#menubar span{
    display:block;
    overflow:visible;
    background-position:right center;
    background-repeat:no-repeat;
    padding-right:0px;
}
ul#menubar ul li:hover>a,ul#menubar ul li a.pressed{
    background-color:#FFF;
    background-image:none;
    border-style:solid;
    border-color:#D9D9D9;
    color:#0088CC;
    text-decoration:none;
}
ul#menubar li.topfirst>a{
    border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    text-shadow:#d8d8d8 0px 1px 1px;
}
ul#menubar li.topfirst:hover>a,ul#menubar li.topfirst a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;
}
ul#menubar li.topmenu>a{
    text-shadow:#d8d8d8 0px 1px 1px;
}
ul#menubar li.topmenu:hover>a,ul#menubar li.topmenu a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;
}
ul#menubar li.toplast>a{
    border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0;
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    text-shadow:#d8d8d8 0px 1px 1px;
}
ul#menubar li.toplast:hover>a,ul#menubar li.toplast a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;
}
ul#menubar _>li>a{
    padding:0;
}
ul#menubar li.subfirst>a{
    border-width:0;
    border-style:none;
    padding:0;
}
ul#menubar li.subfirst:hover>a,ul#menubar li.subfirst a.pressed{
    border-style:none;
}
/*---------------------------------*/
/*css3menu*/
/*---------------------------------*/
ul#css3menu,ul#css3menu ul{
    margin-bottom:-10px;
    list-style:none;
    padding:0;
    display: block;
    background: #0a1602;
    background-image:url("../images/mainbk.png");
    background-repeat:repeat;
    border-width:0px;
    border-style:solid;
    border-color:#999999;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
ul#css3menu ul{
    display:none;
    position:absolute;
    left:0;top:100%;
    -moz-box-shadow:0.7px 0.7px 1px #777777;
    -webkit-box-shadow:0.7px 0.7px 1px #777777;
    box-shadow:0.7px 0.7px 1px #777777;
    background-color:#333;background-image:none;
    border-width:1px;border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-style:solid;
    border-color:#5A5E60;
    padding:0 9px 9px;
}
ul#css3menu li:hover>*
{
    display:block;}
ul#css3menu li{
    position:relative;
    display:block;
    white-space:nowrap;
    font-size:0;float:left;
}
ul#css3menu li:hover{
    z-index:1;
}
ul#css3menu{
    font-size:0;
    z-index:999;
    position:relative;
    display:inline-block;
    zoom:1;
    padding:1px 1px 1px 0;
    *display:inline;
}
* html ul#css3menu li a{
    display:inline-block;
}
ul#css3menu>li{
    margin:0 0 0 1px;
    width: 160px;
}
ul#css3menu ul>li{
    margin:1px 0 0;
    width: 140px;
}
ul#css3menu a:active, ul#css3menu a:focus{
    outline-style:none;
}
ul#css3menu a{
    display:block;
    vertical-align:middle;
    text-align:left;
    text-decoration:none;
    color:#cccccc;
    padding:8px;
    background-color:#333;
    background-image:url("../images/mainbk.png");
    background-repeat:repeat;
    background-position:0 200px;
    border-width:0px;
    border-style:none;
}
ul#css3menu ul li{
    float:none;

    margin:9px 0 0;
}
ul#css3menu ul a{
    text-align:left;
    padding:8px 0 0 0;
    background-color:#333;
    background-image:none;
    border-width:1px 0 0 0;
    border-style:solid;
    border-color:#262626;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    color:#cccccc;
    text-decoration:none;
}
ul#css3menu li:hover>a,ul#css3menu li a.pressed{
    background-color:#00c4ff;
    border-style:none;
    color: #FFFFFF;
    background-image:url("../images/mainbk.png");
    background-position:0 100px;
    text-decoration:none;
}
ul#css3menu span{
    display:block;
    overflow:visible;
    background-position:right center;
    background-repeat:no-repeat;
    padding-right:0px;
}
ul#css3menu ul li:hover>a,ul#css3menu ul li a.pressed{
    background-color:#333;
    background-image:none;
    border-style:solid;
    border-color:#262626;
    color: #00a0da;
    text-decoration:none;
}
ul#css3menu li.topfirst>a{
    border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:0;
    text-shadow:#000000 0px -1px 1px;
}
ul#css3menu li.topfirst:hover>a,ul#css3menu li.topfirst a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;
}
ul#css3menu li.topmenu>a{
    text-shadow:#000000 0px -1px 1px;
}
ul#css3menu li.topmenu:hover>a,ul#css3menu li.topmenu a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;
}
ul#css3menu li.toplast>a{
    border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0;
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    text-shadow:#000000 0px -1px 1px;
}
ul#css3menu li.toplast:hover>a,ul#css3menu li.toplast a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;
}
ul#css3menu _>li>a{
    padding:0;
}
ul#css3menu li.subfirst>a{
    border-width:0;
    border-style:none;
    padding:0;
}
ul#css3menu li.subfirst:hover>a,ul#css3menu li.subfirst a.pressed{
    border-style:none;
}
ul#css3menu ul.subitems1
{
    margin-left: 120px;
    margin-top: -35px;
}
ul#css3menu ul.subitems2
{
    margin-left: 200px;
    margin-top: -35px;
}


/*------------
     Menu
-----------*/
#cssmenu{
	margin-top: 30px;
	position: absolute;
	bottom: 28px;
	left: 25px;
	font-size: 13px;
	font-weight: bold;
}
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#cssmenu {
	height: 49px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
	border-bottom: 2px solid #e00f16;
}
#cssmenu:after,
#cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}
#cssmenu a {
	background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
	color: #ffffff;
	display: inline-block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	line-height: 49px;
	padding: 0 20px;
	text-decoration: none;
}
#cssmenu ul {
	list-style: none;
}
#cssmenu > ul {
	float: left;
}
#cssmenu > ul > li {
	float: left;
}
#cssmenu > ul > li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e00f16;
	margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li:last-child > a {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a {
	box-shadow: inset 0 0 3px #000000;
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#cssmenu > ul > li:hover > a {
	background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
	box-shadow: inset 0 0 3px #000000;
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
	z-index: 1;
}
#cssmenu .has-sub:hover > ul {
	display: block;
}
#cssmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
	background: #e00f16;
	border-bottom: 1px dotted #ec6f73;
	filter: none;
	font-size: 11px;
	display: block;
	line-height: 120%;
	padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
	background: #b00c11;
}
#cssmenu .has-sub .has-sub:hover > ul {
	display: block;
}
#cssmenu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
	background: #b00c11;
	border-bottom: 1px dotted #d06d70;
}
#cssmenu .has-sub .has-sub ul li a:hover {
	background: #80090d;
}
/*---------------------------------*/
.update, input[type="submit"] {
    background-color: rgb(63, 184, 252);
    background-image: -moz-linear-gradient(center top , rgb(56, 173, 238), rgb(46, 117, 206));
    background-repeat: repeat-x;
	padding: 1px 10px;
	border-width: 1px;
    border-style: solid;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 26px 26px 26px 26px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.update, input[type="submit"], .update:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
}
.cancel {
	text-decoration: none;
    display: inline-block;
    padding: 1px 10px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: rgb(245, 245, 245);
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 26px 26px 26px 26px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(7, 132, 163);
}

.import_table
{
	border-collapse:collapse;
    width: auto;
}
.import_table .check
{
    text-align: center;
}
.import_table .check span
{
    color: #ff0000;
}
.import_table th{
    padding: 5px;
	border: 1px solid #369;
	text-align: left;
    background: #eee;
	color: rgb(0, 0, 0);
}
.import_table th.head
{
    color: #fff;
    background: url("../images/blue.png") repeat-x;
    background-size: 100px;
}

.import_table td.none
{
    border-top: none;
    border-bottom: none;
}

.import_table td
{
    padding: 5px;
    border: 1px solid #00c4ff;

}
.import_table select
{
    width: 100%;
}


.view{
    display: inline;
    margin-top: 2px;
    float: left;
    position: relative;
}
.avatar{
  box-shadow: 1px 1px 10px #888888;  
}
.blk-share {
    padding: 8px 14px 6px 14px;
    border: 2px solid #dedede;
    -webkit-border-radius: 5px;
    z-index: 999;
    -moz-border-radius: 5px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 6px #EBEBEB;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    display: block;
    font-size: 12px;
    color: #555;
    line-height: 19px;
}
.blk-share .down_arrow{
    display: inline;
    margin: -400px 700px;
    width: 48px;
    height: 58px;
    background: url("../images/icons/download_accept.png") no-repeat;
    background-size: 48px 48px;
    vertical-align: middle;
    text-align: right;
    position: absolute;
    cursor:pointer;
}

.blk-share .down_arrow:hover{
    background: url("../images/icons/download_settings.png") no-repeat;
    background-size: 48px 48px;
}
.down_arrow span{
    padding-top: 48px;
    text-align: left;
    margin-left: 7px;
    display: block;
}
.top_menu{
    width: auto;
    max-width: auto;
}
#menu, #menu ul {
    margin-top: 28px;
    padding: 0;
    list-style: none;
}
#menu {
    /*background: #369;
    background: -webkit-gradient(linear, left top, left bottom, from(#69c), to(#369));
    background: -moz-linear-gradient(top,  #69c,  #369);
    background: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69c', endColorstr='#369');*/
    background:  rgb(101,166,209);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
    display: block;
    float: left;
    width: 100%;
    position: static;
}
#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}
#menu li {
    float: left;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #fff;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
}

#menu li:hover > a {
    color: #fff;
    background: url("../images/blue.png") repeat-x;
    background-size: 100px;

}

*html #menu li a:hover { /* IE6 only */
    color: #fff;
}
#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background-position: left -2px;
    background-color: #1c526a;
    border-radius: 3px;
    transition: all .2s ease-in-out;  
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    width: 220px;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #153d4f;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    color: #eee;
    width: 200px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #2080c1;
    background-image: linear-gradient(#04acec, #0186ba);
}
#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.pagina{
    font-family: century, "wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
    width:auto;
    height:auto;    
}
  
.linha{
    width:auto;
    padding:5px;
    height:auto;
    display:table;     
}
.tile{
    font-size: 15px;
    outline: none;
    border: 1px dotted;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    vertical-align: middle;
    height:100px;  
    width:100px; 
    float:left;
    margin:0 5px 0 0;
    padding:2px;
}
 
.tileLargo{
    width:210px;
}
.yellow{
    background: #fdf0d5;
    border-color: #ecd4a3;
    color: #f7b42c;
}
  
.gray{
    background: #ebeef1;
    border-color: #cbd0d6;
    color: #9ab;

}
  
.green{
    background: #eef6dc;
    border-color: #d0dfb0;
    color: #aad450;
}
  
.blue{
    background: #daf1ff;
    border-color: #acd6ef;
    color: #4bf;
}
.brown {
background: #f5eedd;
border-color: #ddd0b1;
color: #ca5;
}
.orange {
background: #ffe8d8;
border-color: #efc5a8;
color: #ff8a3c;
}
.purple {
background: #f0defa;
border-color: #e0beea;
color: #c09eda;
}

.magenta {
background: #fdebf3;
border-color: #ddcbd3;
color: #f49ac1;
}