<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Cán bộ - Lí lịch chính trị", casein_can_bo_li_lich_cts_path %></li>
<li id="visitSite"><%= link_to "Cán bộ - Thân nhân", casein_than_nhans_path %></li>
<li id="visitSite"><%= link_to "Tham số", casein_params_path %></li>
<li id="visitSite"><%= link_to "Cán bộ - Thông tin", casein_can_bo_thong_tins_path %></li>