
<table cellpadding="0" cellspacing="0" id="itemList" class="itemList center">
  <tr>
    <th>Ngạch công chức (viên chức)</th>
    <th>Bậc lương</th>
    <th>Ngày thay đổi</th>
    <th>Ghi chú</th>
  </tr>
  <% ngach = "" %>
  <% lich_su_bac_luongs.each_with_index do |q, index| %>
      <% if q.bac_luong.ngach_id %>
              <% ngach = q.bac_luong.ngach.ten_ngach %>
      <% end %>
      <tr class="hover">
        <td><%= casein_table_cell_link ngach, casein_lich_su_bac_luong_path(q) %></td>
        <td><%= casein_table_cell_link q.bac_luong.bac, casein_lich_su_bac_luong_path(q) %></td>
        <td><%= casein_table_cell_link q.ngay_thay_doi_bac, casein_lich_su_bac_luong_path(q) %></td>
        <td><%= casein_table_cell_link q.ghi_chu, casein_lich_su_bac_luong_path(q) %></td>
      </tr>

  <% end %>
</table>
<p></p>