<div class="blk-share">
<h2>Danh sách cán bộ viên chức</h2>
<%= link_to "#{casein_show_icon('excel')}Xuất nội dung ra excel".html_safe, get_and_export_to_excel_casein_can_bo_thong_tins_path({:format => :xls}) %>

</div>